#parent {
    padding: 5% 0;
    padding-top:200px;
}

#child {
    padding: 10% 0;
}

.row {
    border: 1px;
}

.form-control {
    border-radius: 53px 70px 60px 64px !important;
}

.btn {
    border-radius: 53px 70px 60px 64px !important;
    padding:10px;
}

.error {
    background-color: #00adef;
    border:none !important;
    color: red;
    border-radius: 53px 70px 60px 64px;
    margin-top: 10px;
    text-align: center
}
