@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- FOOTER -->
<footer>
    <div class="container-fuild">
        <nav class="navbar navbar-dark bg-dark navbar-fixed-bottom navbar-fluid text-center text-white">
            <div class="nav-item">
                <i class="fa fa-envelope-o" aria-hidden="true">  <h>Free Chat</h></i>
            </div>
          
        
        </nav>
    </div>
</footer>