
body {
    background: #00adef !important; 
    
}


#parent {
    padding: 10% 0;
}

#child {
    padding: 10% 0;
}

.row {
    border: 1px;
}

.form-control {
    border-radius: 53px 70px 60px 64px !important;
}

.btn {
    border-radius: 53px 70px 60px 64px !important;
}

.error {
    background-color: #00adef;
    border: 1px solid white;
    color: red;
    border-radius: 53px 70px 60px 64px;
    margin-top:10px;
    text-align:center
}

