


.form-r {
    margin-top: 100px !important;
}



.form-control {
    border-radius: 53px 70px 60px 64px !important;
}

.btn-r {
    border-radius: 53px 70px 60px 64px !important;
    padding-top: 10px !important;
}
}

.error {
    background-color: #00adef;
    border: none !important;
    color: red;
    border-radius: 53px 70px 60px 64px;
    margin-top: 10px;
    text-align: center
}

