
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Register";
}

@model WebChat.Models.RegisterView;




<div class="container-fuild container-table form-r" id="parent">
    <div class="row " id="child">

       

        <div class=" col-xs-12 col-8 col-mx-auto col-sm-6 col-xl-4 col-lg-4 mx-auto">
            <div class="text text-white text-center">
                @if (Model != null)
                {
                    <h1><small>This user already exists</small></h1>
                }

            </div>
            <form method="post" action="/Account/Register" name="callback">

                <fieldset class="form-group">
                    @if (Model != null)
                    {
                        <input type="email" class="form-control  email" id="email" name="Email" placeholder="@Model.Email">
                    }
                    else
                    {
                        <input type="email" class="form-control  email" id="email" name="Email" placeholder="Email">
                    }


                </fieldset>

                <fieldset class="form-group">
                    @if (Model != null)
                    {
                        <input type="text" class="form-control   name" id="name" name="UserName" placeholder="@Model.UserName">
                    }
                    else
                    {
                        <input type="text" class="form-control   name" id="name" name="UserName" placeholder="Name">
                    }


                </fieldset>
                <fieldset class="form-group">

                    <input type="password" class="form-control password" id="password" name="Password" placeholder="Password">

                </fieldset>
                <fieldset class="form-group">

                    <input type="password" class="form-control confirmPassword" id="confirmpassword" name="confirmPassword" placeholder="Repeat password">

                </fieldset>
                <button class="btn btn-r btn-outline-light btn-lg btn-block " type="submit" value="">Register</button>

            </form>
        </div>

        
    </div>
</div>





